##

{% for group in groups -%}
{% if group != "all" -%}
{% for host in groups[group] -%}
{% if "kafka" in host -%}
{% set ip = hostvars[host].public_ip -%}
host {{ host }}
    User ubuntu
    HostName {{ ip }}
    IdentityFile ssh_keys/kafka-key

##

{% endif %}
{% endfor %}
{% endif %}
{% endfor %}